{% extends 'base.html' %}

{% block title %}
<title>Random</title>
{% endblock %}

{% block body %}
<div class="container py-5">
  <h1>Input parameters of random string</h1>
    <form method="post">
      <h3>Input string length (1 - 100):</h3>
      <input type="number" class="form-control" name="length" value="50" min="1" max="100" required><br>
      <h3>Input if specials (0 - 1):</h3>
      <input type="number" class="form-control" name="specials" value="0" min="0" max="1" required><br>
      <h3>Input if digits (0 - 1):</h3>
      <input type="number" class="form-control" name="digits" value="0" min="0" max="1" required><br>
      <button class="btn btn-success" type="submit">Random It!</button>
    </form>
  <h1 align="center">Your random string:</h1>
  <h4 style="color:Red" align="center">{{ result }}</h4>
</div>
{% endblock %}